 
<div class="preguntas-frecuentes">

    <h2 class="preguntas-titulo">Preguntas Frecuentes</h2>

    <p class="pregunta"> <span class="frecuente">¿Cómo hago un pedido?</span> Para armar un pedido simplemente vas agregando al carrito todos los productos que queres, vas a arma tu pc en donde se guardaran los productos que escojiste, y al finalizar pones comprar. En el 1er paso te pregunta si necesitas envío, luego la forma de pago, luego accedes como cliente o creas un cliente nuevo según corresponda confirmas el pedido y te asigna un número de pedido y te da los datos de pago según corresponda. </p>

    <p class="pregunta"><span class="frecuente">¿Cómo uso el servicio de PosVenta y garantías?</span> Al pie de esta web nos tenes que dejar la consulta con un motivo de los que comiencem con 'PosVenta ...' y el servicio ténico va a estar respondiendo.</p>

    <p class="pregunta"><span class="frecuente">¿Son precios Finales o más IVA?</span> Todos los precios son finales IVA incluido.</p>

    <p class="pregunta"><span class="frecuente">¿Los precios publicados en la web en que moneda están?</span> Todos los precios de la web están expresados en pesos argentinos.</p>

    <p class="pregunta"><span class="frecuente">¿Que costo tiene un envío?</span> El costo del mismo se abona con el pedido, es decir, el pedido incluye el costo del envío. El valor del envío depende de las dimensiones del paquete y distancia. Podrás saber el costo del envío en tiempo real desde www.compragamer.com ingresando tu código postal en el producto a adquirir o a tu pedido. Y según el pedido desde la misma web se le informa si es bonificado el mismo.</p>

    <p class="pregunta"><span class="frecuente">¿Hacen envíos al interior?</span> Hacemos envíos a todo el país mediante OCA, que es un servicio Puerta a Puerta (puede llegar a tu domicilio o a la sucursal de OCA más cercana a tu domicilio).</p>

    <p class="pregunta"><span class="frecuente">¿Hacen factura A? ¿Cómo la solicito?</span> Efectivamente hacemos factura A, y en el caso de ser un cliente nuevo tiene que ingresar el cliente con número de CUIT y en las observaciones del pedido aclarar que es con factura A.</p>
    

</div>