

<section>
    <h2 class="articulo_subtitulo">Mi carrito</h2>
    <div class="articulos-carrito">

        <table class="lista-carrito">
            <thead>
                <tr>
                    <th class="carritoHeader">Imagen</th>
                    <th class="carritoHeader">Nombre</th>
                    <th class="carritoHeader">Precio</th>
                    <th class="carritoHeader">Cantidad</th>
                    <th class="carritoHeader">Marca</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        <div class="carrito_imagen">
                            <img src="~/imagenes/auricular-hyperx-cloud-stinger.jpeg" />
                        </div>
                    </td>
                    <td><p>Auricular</p></td>
                    <td><p>$500.50</p></td>
                    <td><p>1</p></td>
                    <td><p>Logitech</p></td>
                </tr>   <!--fin de la tabla-->

                <tr>
                    <td>
                        <div class="carrito_imagen">
                            <img src="~/imagenes/auricular-hyperx-cloud-stinger.jpeg" />
                        </div>
                    </td>
                    <td><p>Auricular</p></td>
                    <td><p>$500.50</p></td>
                    <td><p>1</p></td>
                    <td><p>Logitech</p></td>
                </tr>   <!--fin de la tabla-->

                <tr>
                    <td>
                        <div class="carrito_imagen">
                            <img src="~/imagenes/auricular-hyperx-cloud-stinger.jpeg" />
                        </div>
                    </td>
                    <td><p>Auricular</p></td>
                    <td><p>$500.50</p></td>
                    <td><p>1</p></td>
                    <td><p>Logitech</p></td>
                </tr>   <!--fin de la tabla-->

                <tr>
                    <td>
                        <div class="carrito_imagen">
                            <img src="~/imagenes/auricular-hyperx-cloud-stinger.jpeg" />
                        </div>
                    </td>
                    <td><p>Auricular</p></td>
                    <td><p>$500.50</p></td>
                    <td><p>1</p></td>
                    <td><p>Logitech</p></td>
                </tr>   <!--fin de la tabla-->

            </tbody>
        </table>
    </div>
    <div class="boton-comprar">
        <button class="comprar">COMPRAR</button>
    </div>

</section>
